blog:
  glob: "**/*.md"
  backend:
    type: cloudflare
    database-id: "0000000000000000000001"
    table: "blogs"
    image-table: "blog_images"
  schema:
    id:
      type: id
    body:
      type: markdown
      embed_svg: true
      document_body: true
      config: {}
    title:
      type: string
      required: true
    description:
      type: string
    published_at:
      type: datetime
      required: true
    tags:
      type: set
      item: string
      backend:
        type: d1
        table: blog_tags
    meta:
      type: json
    og_image:
      type: image
      required: true
      backend:
        type: r2
        zone: assets.blog.example.com
        bucket: blog-assets
        prefix: blog/og-images
      transform:
        type: simple
        width: 1200
        format: avif
