blog:
  d1:
    database_id: "0000000000000000000001"
    table: "blogs"
  schema:
    id:
      type: id
    "#body":
      type: markdown
      embed_svg: true
      image:
        d1_table: images
        backend:
          type: r2
          zone: assets.blog.example.com
          bucket: blog-assets
          prefix: blog/images
        transforms:
          formats: [webp, avif]
          width: [480, 720, 1080, 1440, 1920]
    title:
      type: string
      required: true
    description:
      type: string
    published_at:
      type: datetime
      required: true
    tags:
      type: set
      item: string
    meta:
      type: json
    og_image:
      type: image
      required: true
      backend:
        type: r2
        zone: assets.blog.example.com
        bucket: blog-assets
        prefix: blog/og-images
      transform:
        type: simple
        width: 1200
        format: avif
