glob: "posts/*.md"
name: posts
table: posts
database_id: xxx
syntax:
  type: markdown
  column: body
schema:
  id:
    type: id
  hash:
    type: hash
  body:
    type: markdown
    image:
      table: post_images
      inherit_ids: [post_id]
      embed_svg_threshold: 8192
      storage:
        type: r2
        bucket: namachan10777dev
        prefix: post/images
    config: {}
    storage:
      type: kv
      namespace: post
  og_image:
    type: image
    storage:
      type: r2
      bucket: namachan10777dev
      prefix: post/og
  publish:
    type: boolean
  published:
    type: datetime
    index: true
    required: true
  commentable:
    type: boolean
  comments:
    type: records
    inherit_ids: [post_id]
    table: comments
    schema:
      comment_id:
        type: id
      comment:
        type: markdown
        image:
          table: comment_images
          inherit_ids:
            - post_id
            - comment_id
          embed_svg_threshold: 8192
          storage:
            type: r2
            bucket: namachan10777dev
            prefix: comment/images
        config: {}
        storage:
          type: inline
  tags:
    type: records
    inherit_ids: [post_id]
    table: post_tags
    schema:
      tag:
        type: id
